{% extends 'base.html' %}

{% block content %}


<main class="m-5">
    <h1 class="text-center"> Dashboard Power BI - Sales Order</h1>
    <div class="img-container">
        <img src="/static/dashboard.png" alt="dashboard">
    </div>
</main>


{% endblock %}


<!-- Dato para que no se me olvide mañana: Es posible que hayan problemas al ejecutar localmente debido a restricciones de seguridad del navegador.
Las visualizaciones de Power BI suelen requerir una conexión segura (HTTPS) para mostrar correctamente los contenidos.
https://app.powerbi.com/view?r=eyJrIjoiNzAyMWFjY2QtYTBkMC00ODRlLWJjZjYtNDljODdkMzA3NmQ1IiwidCI6IjhkMGNjZmQzLWZhZDctNDhiNy04MzQ3LWE4NWExMzg2MzBmOSIsImMiOjh9  -->